##########################################
#
# environmental variable file for
# vcs and deployment mode demo stack
#
##########################################


### Shared
TZ=America/Chicago

### Ignition
IGN_RELEASE=8.3.4
IGN_NAME =demo-vcs-modes-dev1
IGN_PORT=8188

### Postgres
POSTGRES_USERNAME=admin
POSTGRES_PASS=password
POSTGRES_NAME=postgres
POSTGRES_PORT=5532
POSTGRES_CONTAINER_NAME= postgres-vcs-dev1